body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #77aaff 3px solid;
}
header h1 {
    margin: 0;
    display: flex;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
ul {
    padding: 0;
    list-style: none;
}
.main {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.team {
    border-bottom: 1px solid #e4e4e4;
    padding: 20px 0;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 15px;
    color: #fff;
    transition: transform 0.2s;
}
.team img {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}
.team h3 {
    margin: 0;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.5em;
}
.team h3 img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.team p {
    margin: 5px 0 0 0;
    color: #fff;
}
.team:hover {
    transform: scale(1.05);
}
.manchester-united {
    background-color: #da291c;
}
.liverpool {
    background-color: #c8102e;
}
.chelsea {
    background-color: #034694;
}
.arsenal {
    background-color: #ef0107;
}
.manchester-city {
    background-color: #6cabdd;
}
.tottenham {
    background-color: #132257;
}
.home-icon {
    color: #fff;
    font-size: 1.5em;
    margin-top: 5px;
    margin-left: 1000px;
    display: block;
}